.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.875488;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.875488;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.854980;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.854980;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.730957;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.730957;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.731445;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff9;src:url(f9.woff)format("woff");}.ff9{font-family:ff9;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffa;src:url(fa.woff)format("woff");}.ffa{font-family:ffa;line-height:0.690918;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:36.000000px;}
.fs1{font-size:48.000000px;}
.fs0{font-size:56.000000px;}
.yf{bottom:2.543000px;}
.yb{bottom:2.702999px;}
.y12{bottom:3.028001px;}
.yd{bottom:3.604000px;}
.y11{bottom:4.843001px;}
.y29{bottom:4.896001px;}
.y66{bottom:5.869001px;}
.y13{bottom:6.109001px;}
.ya{bottom:12.897999px;}
.y6{bottom:13.796999px;}
.y9{bottom:23.092999px;}
.y5{bottom:27.390999px;}
.y8{bottom:33.287998px;}
.y4{bottom:40.984999px;}
.y7{bottom:43.482998px;}
.y37{bottom:60.000000px;}
.y62{bottom:60.693003px;}
.y0{bottom:64.500000px;}
.y36{bottom:65.299002px;}
.y61{bottom:77.542002px;}
.y35{bottom:82.148001px;}
.y60{bottom:94.391001px;}
.y34{bottom:98.997000px;}
.y5f{bottom:111.240000px;}
.y33{bottom:115.845999px;}
.y5e{bottom:128.088999px;}
.y32{bottom:132.694998px;}
.y5d{bottom:144.937998px;}
.y31{bottom:149.543997px;}
.y5c{bottom:161.786997px;}
.y30{bottom:166.393009px;}
.y5b{bottom:178.635996px;}
.y2f{bottom:180.942007px;}
.y5a{bottom:195.484995px;}
.y2e{bottom:197.791006px;}
.y59{bottom:212.333994px;}
.y2d{bottom:214.640036px;}
.y58{bottom:229.182993px;}
.y2c{bottom:231.489035px;}
.y57{bottom:246.032053px;}
.y2b{bottom:248.338034px;}
.y56{bottom:262.881021px;}
.y2a{bottom:265.187033px;}
.y55{bottom:279.730021px;}
.y28{bottom:282.036032px;}
.y54{bottom:296.579020px;}
.y27{bottom:298.885031px;}
.y53{bottom:313.428019px;}
.y26{bottom:315.734030px;}
.y52{bottom:330.277018px;}
.y25{bottom:332.583029px;}
.y51{bottom:347.126017px;}
.y24{bottom:349.432028px;}
.y50{bottom:363.975016px;}
.y23{bottom:366.281027px;}
.y4f{bottom:380.824015px;}
.y22{bottom:383.130026px;}
.y4e{bottom:397.673014px;}
.y21{bottom:399.979025px;}
.y4d{bottom:414.522013px;}
.y20{bottom:416.828024px;}
.y4c{bottom:431.371012px;}
.y1f{bottom:433.677023px;}
.y4b{bottom:448.220011px;}
.y1e{bottom:450.526022px;}
.y64{bottom:451.745028px;}
.y4a{bottom:465.069010px;}
.y1d{bottom:467.375021px;}
.y49{bottom:481.918009px;}
.y1c{bottom:484.224020px;}
.y63{bottom:489.000000px;}
.y48{bottom:498.767008px;}
.y1b{bottom:501.073019px;}
.y47{bottom:515.616022px;}
.y1a{bottom:517.922018px;}
.y46{bottom:532.465021px;}
.y65{bottom:532.705021px;}
.y19{bottom:534.771017px;}
.y45{bottom:549.314020px;}
.y18{bottom:551.620016px;}
.y44{bottom:566.163019px;}
.y17{bottom:568.469015px;}
.y43{bottom:583.012018px;}
.y16{bottom:585.318029px;}
.y42{bottom:599.861017px;}
.y15{bottom:602.167021px;}
.y41{bottom:616.710016px;}
.y14{bottom:619.016020px;}
.y40{bottom:633.559015px;}
.y10{bottom:635.865026px;}
.y3f{bottom:650.408022px;}
.ye{bottom:652.714024px;}
.y3e{bottom:667.257021px;}
.yc{bottom:667.263025px;}
.y3{bottom:681.607025px;}
.y3d{bottom:684.106020px;}
.y3c{bottom:700.955019px;}
.y3b{bottom:717.804022px;}
.y3a{bottom:734.653021px;}
.y39{bottom:751.502022px;}
.y2{bottom:757.686024px;}
.y38{bottom:768.351023px;}
.y1{bottom:773.545024px;}
.h6{height:13.594000px;}
.h7{height:13.799000px;}
.hf{height:15.859001px;}
.h9{height:16.099001px;}
.h5{height:23.994141px;}
.h4{height:31.992188px;}
.hb{height:33.328125px;}
.h8{height:34.500000px;}
.h2{height:37.324219px;}
.hd{height:37.843750px;}
.ha{height:38.882812px;}
.h3{height:50.974998px;}
.he{height:296.500000px;}
.h1{height:706.000000px;}
.hc{height:725.500000px;}
.h0{height:841.900024px;}
.w8{width:26.250000px;}
.w2{width:29.750000px;}
.w5{width:35.250000px;}
.w7{width:53.250000px;}
.w6{width:109.499988px;}
.w3{width:125.250000px;}
.w4{width:242.250000px;}
.w1{width:582.000000px;}
.w0{width:595.299988px;}
.x2{left:3.125000px;}
.x12{left:5.924000px;}
.xe{left:10.424000px;}
.x0{left:13.500000px;}
.x17{left:14.625000px;}
.x15{left:19.424000px;}
.xc{left:23.024000px;}
.x16{left:39.212002px;}
.xb{left:42.570999px;}
.x3{left:44.800000px;}
.x5{left:49.112999px;}
.x9{left:59.023998px;}
.x1{left:85.050003px;}
.xa{left:117.524002px;}
.x4{left:170.800000px;}
.xd{left:224.800000px;}
.xf{left:260.800000px;}
.x10{left:296.800000px;}
.x11{left:332.800000px;}
.x13{left:359.800000px;}
.x14{left:386.800000px;}
.x6{left:413.800000px;}
.x7{left:449.800000px;}
.x8{left:485.800000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs2{font-size:48.000000pt;}
.fs1{font-size:64.000000pt;}
.fs0{font-size:74.666667pt;}
.yf{bottom:3.390667pt;}
.yb{bottom:3.603999pt;}
.y12{bottom:4.037334pt;}
.yd{bottom:4.805333pt;}
.y11{bottom:6.457335pt;}
.y29{bottom:6.528001pt;}
.y66{bottom:7.825335pt;}
.y13{bottom:8.145335pt;}
.ya{bottom:17.197332pt;}
.y6{bottom:18.395999pt;}
.y9{bottom:30.790665pt;}
.y5{bottom:36.521332pt;}
.y8{bottom:44.383998pt;}
.y4{bottom:54.646665pt;}
.y7{bottom:57.977331pt;}
.y37{bottom:80.000000pt;}
.y62{bottom:80.924004pt;}
.y0{bottom:86.000000pt;}
.y36{bottom:87.065336pt;}
.y61{bottom:103.389336pt;}
.y35{bottom:109.530668pt;}
.y60{bottom:125.854668pt;}
.y34{bottom:131.996000pt;}
.y5f{bottom:148.320000pt;}
.y33{bottom:154.461332pt;}
.y5e{bottom:170.785332pt;}
.y32{bottom:176.926664pt;}
.y5d{bottom:193.250664pt;}
.y31{bottom:199.391996pt;}
.y5c{bottom:215.715996pt;}
.y30{bottom:221.857346pt;}
.y5b{bottom:238.181328pt;}
.y2f{bottom:241.256009pt;}
.y5a{bottom:260.646660pt;}
.y2e{bottom:263.721341pt;}
.y59{bottom:283.111992pt;}
.y2d{bottom:286.186714pt;}
.y58{bottom:305.577324pt;}
.y2c{bottom:308.652046pt;}
.y57{bottom:328.042737pt;}
.y2b{bottom:331.117378pt;}
.y56{bottom:350.508029pt;}
.y2a{bottom:353.582710pt;}
.y55{bottom:372.973361pt;}
.y28{bottom:376.048042pt;}
.y54{bottom:395.438693pt;}
.y27{bottom:398.513374pt;}
.y53{bottom:417.904025pt;}
.y26{bottom:420.978706pt;}
.y52{bottom:440.369357pt;}
.y25{bottom:443.444038pt;}
.y51{bottom:462.834689pt;}
.y24{bottom:465.909370pt;}
.y50{bottom:485.300021pt;}
.y23{bottom:488.374702pt;}
.y4f{bottom:507.765353pt;}
.y22{bottom:510.840034pt;}
.y4e{bottom:530.230685pt;}
.y21{bottom:533.305367pt;}
.y4d{bottom:552.696017pt;}
.y20{bottom:555.770699pt;}
.y4c{bottom:575.161349pt;}
.y1f{bottom:578.236031pt;}
.y4b{bottom:597.626681pt;}
.y1e{bottom:600.701363pt;}
.y64{bottom:602.326703pt;}
.y4a{bottom:620.092013pt;}
.y1d{bottom:623.166695pt;}
.y49{bottom:642.557345pt;}
.y1c{bottom:645.632027pt;}
.y63{bottom:652.000000pt;}
.y48{bottom:665.022677pt;}
.y1b{bottom:668.097359pt;}
.y47{bottom:687.488029pt;}
.y1a{bottom:690.562691pt;}
.y46{bottom:709.953362pt;}
.y65{bottom:710.273361pt;}
.y19{bottom:713.028023pt;}
.y45{bottom:732.418694pt;}
.y18{bottom:735.493355pt;}
.y44{bottom:754.884026pt;}
.y17{bottom:757.958687pt;}
.y43{bottom:777.349358pt;}
.y16{bottom:780.424039pt;}
.y42{bottom:799.814690pt;}
.y15{bottom:802.889361pt;}
.y41{bottom:822.280022pt;}
.y14{bottom:825.354693pt;}
.y40{bottom:844.745354pt;}
.y10{bottom:847.820035pt;}
.y3f{bottom:867.210696pt;}
.ye{bottom:870.285365pt;}
.y3e{bottom:889.676028pt;}
.yc{bottom:889.684034pt;}
.y3{bottom:908.809367pt;}
.y3d{bottom:912.141360pt;}
.y3c{bottom:934.606692pt;}
.y3b{bottom:957.072029pt;}
.y3a{bottom:979.537361pt;}
.y39{bottom:1002.002696pt;}
.y2{bottom:1010.248032pt;}
.y38{bottom:1024.468030pt;}
.y1{bottom:1031.393365pt;}
.h6{height:18.125333pt;}
.h7{height:18.398666pt;}
.hf{height:21.145335pt;}
.h9{height:21.465335pt;}
.h5{height:31.992188pt;}
.h4{height:42.656250pt;}
.hb{height:44.437500pt;}
.h8{height:46.000000pt;}
.h2{height:49.765625pt;}
.hd{height:50.458333pt;}
.ha{height:51.843750pt;}
.h3{height:67.966665pt;}
.he{height:395.333333pt;}
.h1{height:941.333333pt;}
.hc{height:967.333333pt;}
.h0{height:1122.533366pt;}
.w8{width:35.000000pt;}
.w2{width:39.666667pt;}
.w5{width:47.000000pt;}
.w7{width:71.000000pt;}
.w6{width:145.999983pt;}
.w3{width:167.000000pt;}
.w4{width:323.000000pt;}
.w1{width:776.000000pt;}
.w0{width:793.733317pt;}
.x2{left:4.166667pt;}
.x12{left:7.898667pt;}
.xe{left:13.898666pt;}
.x0{left:18.000000pt;}
.x17{left:19.500000pt;}
.x15{left:25.898666pt;}
.xc{left:30.698667pt;}
.x16{left:52.282669pt;}
.xb{left:56.761332pt;}
.x3{left:59.733334pt;}
.x5{left:65.483999pt;}
.x9{left:78.698664pt;}
.x1{left:113.400004pt;}
.xa{left:156.698669pt;}
.x4{left:227.733334pt;}
.xd{left:299.733334pt;}
.xf{left:347.733334pt;}
.x10{left:395.733334pt;}
.x11{left:443.733334pt;}
.x13{left:479.733334pt;}
.x14{left:515.733334pt;}
.x6{left:551.733334pt;}
.x7{left:599.733334pt;}
.x8{left:647.733334pt;}
}
